.post_btn {
  color: var(--black);
  background: var(--white);
}

.feed_div {
  padding: 2.5%;
  font-family: helvetica;
  color: var(--black);
  width: 60%;
  margin: auto;
}

.post_text {
  padding: 1.5%;
  font-family: helvetica;
  color: var(--black);
  width: 85%;
  margin: auto;
}

.post_header {
  padding: 1.5%;
  font-family: helvetica;
  font-weight: bold;
  color: var(--black);
  margin: auto;
}

.icon {
  float: right;
  width: 4%;
  height: 4%;
  padding-bottom: 1%;
}

.titlebox {
  background: var(--white);
  color: var(--black);
  font-family: helvetica;
  font-weight: bold;
  border-style: none;
  border-color: var(--black);
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  font-size: 30pt;
}