.post_btn {
  margin: 0 auto;
  width: 30%;
  background-color: #0a0a23;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: block;
  font-family: helvetica;
  font-weight: bold;
}

.feed_div {
  padding: 2.5%;
  font-family: helvetica;
  color: var(--black);
  width: 60%;
  margin: auto;
}

.post_text {
  padding: 1.5%;
  font-family: helvetica;
  color: var(--black);
  width: 85%;
  margin: auto;
}

.post_smth {
  padding: 0.75%;
  font-family: helvetica;
  font-weight: bold;
  font-size: 14pt;
  color: var(--black);
  width: 50%;
  margin: auto;
  text-align: center;
}

.post_header {
  padding: 1.5%;
  font-family: helvetica;
  font-weight: bold;
  color: var(--black);
  margin: auto;
}

.icon {
  float: right;
  width: 4%;
  height: 4%;
  padding-bottom: 1%;
}

.titlebox {
  background: var(--white);
  color: var(--black);
  font-family: helvetica;
  font-weight: bold;
  border-style: none;
  border-color: var(--black);
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  font-size: 30pt;
}

.input-text {
  text-align: center;
  display: block;
}

#feed_text {
  width: 50%;
  font-size: 14pt;
}

#feed_song {
  width: 50%;
  font-size: 14pt;
}

#post_button {
  font-size: 14pt;
  text-align: center;
}