
  .feed_div {
    padding: 2.5%; 
    font-family: helvetica;
    color: var(--black);
    width: 60%;
    margin: auto; 
  }
  .post_text {
    display: inline;
    padding: 1.5%; 
    font-family: helvetica;
    color: var(--black);
    font-size: 14px; 
    font-weight: 100; 
    text-align: left; 
    width: 80%;
  }
  .post_header {
    padding: 1.5%; 
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    text-align: left;
    color: var(--black);
    margin: auto; 
  }
  .icon {
    float: right;
    width: 4%;
    height: 4%;
    padding-bottom: 1%;
  }